
.form{
	@include flexing; 
	margin: 0 auto;

	&__input{
		border: none;
		border-bottom: 5px solid $primary-color; 
		border-radius: 4px; 
		margin: .5em;
		overflow: hidden; 
		outline: none;
	}

	&__label--hidden{
		margin-top: 1em;
		border-width:0px;
		border:none;

	}
	
}