.nav{
	@include flexing-row;   

	&__item{
		@include button;
		margin: 0em -.25em 0em -.25em;
		& a{
			color: $primary-color;
			text-decoration: none;
			list-style-type: none;
		}
		&:hover{
			background-color: $primary-color;
			& a{
				color: white;
				text-decoration: none;
				list-style-type: none;
			}
		}

		
	}
}

.container{
	@include flexing; 
	max-width: 65%; 
	margin: 0 auto;
 	position: relative; 
 	text-align: center;
 	width: 100%; 
}

.headline{

 	&--primary{
 		text-align: left; 
 		padding: 0 1.1em 0 1.1em;
 		color: $primary-color;
 		font-family: $font-family--primary;
 	}

 	&--secondary{
 		text-align: left; 
 		padding: 2em;
 		font-family: $font-family--primary;
 	}
 }


.blockquote {
	border-left: .35em solid $primary-color; 
	border-radius: .3em; 
	padding-left: 1em; 
	font-style: italic;
	font-size: 1.25em; 
}
