


*{
	font-family: $font-family--primary;
}

a{
	text-decoration: none; 
}

p,
blockquote {
	text-align: left; 
}

blockquote {
	border-left: .35em solid $primary-color; 
	border-radius: .3em; 
	padding-left: 1em; 
	font-style: italic;
	font-size: 1.25em; 
}










